@using DataAccessLayer.Models
@model Book

<h1>Add Book</h1>
<form method="post" asp-action="AddBook" asp-controller="Book">
    
    <div class="container">
        @* <div>
            <label asp-for="Id" class="form-label">Book Id</label>
            <input type="text" asp-for="Id" class="form-control" />
        </div> *@
        <div>
            <label asp-for="Name" class="form-label">Book Name</label>
            <input type="text" asp-for="Name" class="form-control"/>
        </div>
        <div>
            <label asp-for="Author" class="form-label">Author Name</label>
            <input type="text" asp-for="Author" class="form-control"/>
        </div>
        <div>
            <label asp-for="Genre" class="form-label">Genre</label>
            <input asp-for="Genre" type="text" class="form-control"/>
        </div>
        <div>
            <label asp-for="Publisher" class="form-label">Publisher</label>
            <input asp-for="Publisher" type="text" class="form-control"/>
        </div>
        <div> 
            <label asp-for="PublishDate" class="form-label"></label>
            <input asp-for="PublishDate" type="text" class="form-control"/>
        </div>

        <br />
        <div>
            <input type="submit" class="btn btn-primary" value="Add Book"/>
            <input type="reset" value="Reset" class="btn btn-secondary"/>
        </div>
    </div>
</form>

